repos:
  - repo: local
    hooks:
      - id: requirements
        name: requirements
        entry: powershell -Command "venv\Scripts\pip.exe freeze > requirements.txt; git add requirements.txt"
        language: system
        pass_filenames: false
        stages: [pre-commit]